* {
  transition: background 0.1s linear, border 0.1s linear, opacity 0.1s linear;
}

.app {
  background-color: #888;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app.dark {
  background-color: #333;
  color: white;
}

.feed {
  background: #0003;
  height: 100%;

  overflow-y: scroll;

  padding: 30px !important;
}

.feed .message {
  text-align: center;
}

.sidebar {
  height: 100%;
}

button, button:focus {
  outline: none !important;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}

.sidebar .buttons {
  position: absolute;
  width: 15vw;
  height: 15vw;
  top: 50%;
  left: 50%;
  border-radius: 50%;

  z-index: 2;

  transform: translate(-50%, -50%);

  --time: 0.3s;
  transition: left var(--time) linear, transform 0.1s linear, top var(--time) linear, width var(--time) linear, height var(--time) linear, background 0.1s, border-radius 0.1s linear;
}

.sidebar .buttons.minimized {
  top: 0;
  left: 100%;
  transform: translate(-150%, 30%) scale(0.9, 0.9);
  height: 3vw;
  width: 3vw;
  cursor: pointer;
}

.sidebar .buttons:hover, .sidebar .buttons.minimized {
  background-color: #FFF1;
  border-radius: 20%;
}

.sidebar .buttons.minimized:hover {
  transform: translate(-150%, 30%) scale(1, 1);
}

.buttons.minimized:hover {
  background-color: #FFF2;
}

.sidebar .buttons button {
  width: 50%;
  height: 50%;
  background-color: transparent;
  font-size: 200%;
  border-radius: 40%;

  transition: opacity var(--time) linear;
}

.buttons.minimized button {
  opacity: 0;
  pointer-events: none;
}

.sidebar .buttons button:hover {
  background-color: #FFF1;
}

.post {
  background-color: #0002;
  padding: 20px;
  border-radius: 10px;
  font-size: 1rem;
}

.post:hover {
  background-color: #0001;
}

.post .title {
  font-size: 1.5rem;
}

.post:not(:last-child) {
  margin-bottom: 10px;
}

.fetch {
  margin: 20px auto;
}

.loading {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: #FFF2;
  margin: 0 auto;

  transition: opacity 0.3s linear;
}

.loading.process {
  animation: loading 0.5s linear infinite alternate;
}

.loading.hidden {
  opacity: 0;
}

.post img {
  border-radius: 20px;
  width: 100%;
  max-width: 200px;
  filter: brightness(1);
  transition: filter 0.1s linear;
}

.post img.single {
  margin: 0 auto;
  max-width: 400px;
}

.screen .slider {
  width: 70%;
  height: 80vh;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slider img {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  top: 0;
  transition: left 0.2s linear;
}

.slider img.hidden-left {
  left: -100%;
}

.slider img.hidden-right {
  left: 100%;
}

.slider > div {
  --color: #FFFA;
  mix-blend-mode: exclusion;

  position: absolute;
  top: calc(50% - 10px);
  z-index: 2;

  border-top: 20px transparent solid;
  border-bottom: 20px transparent solid;
}

.slider > div:hover {
  --color: #FFF6;
}

.slider .previous {
  border-right: 30px var(--color) solid;
  left: 10px;
}

.slider .next {
  border-left: 30px var(--color) solid;
  left: calc(100% - 40px);
}

.post img:hover {
  filter: brightness(1.2);
}

@keyframes loading {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.5, 0.5);
  }
}

.screen {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-top: 0;
  padding: 20px;
  text-align: center;
  z-index: 1;

  animation: screenIn 0.3s linear forwards;
}

.screen.last {
  animation: screenOut 0.3s linear forwards;
}

@keyframes screenIn {
  from {
    margin-top: 100vh;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes screenOut {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: -100vh;
    opacity: 1;
  }
}

button.service {
  padding: 10px 30px;
  border-radius: 5px;
  background-color: #FFF1;
}

button.service:hover {
  background-color: #FFF2;
}

.post .service {
  font-size: 0.8rem;
  opacity: 0.5;
  text-align: right;
}